/* navbar*/

.navbar{
    font-size: 16px;
    top: 0px;
    left: 0px;
    

}



.navbar h2{
    color: rgb(0, 128, 90);
}


.navbar-light .navbar-nav .nav-link{
padding: 0px;
padding-left: 20px;
padding-right: 20px;
color: black;
transition: 0.3s ease;
}


.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active{
    color: green;
}

.navbar i{
font-size: 1.3rem;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 7px;
padding-right: 7px;
cursor: pointer;
font-weight: 500;
transition: 0.3s ease;
}

#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: coral;
    

}

#bar:hover,
#bar.active{
    color: #fff;

}

@media only screen and (max-width: 991px){
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: #fb774b;
    }

    #navbarSupportedContent > ul{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
    


/* Mobile Nav */
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}

 .navbar i:hover{
     color: coral;
 }


 /* footer */



 footer{
    background-color:rgb(8, 48, 2);
    padding-bottom: 50px;

}

footer h6{

    color: #d8d8d8;
    font-weight: 700;
    
}

footer p{
    color: #999;
    font-weight: 700;
}

footer li{
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: #999;

}


footer li a:hover{
    color: #d8d8d8;
    
}

.footer-1 p:hover{
    color: #d8d8d8;
    text-decoration: underline;
}


.copyright a{

   
    padding-left: 40px;
    transition: 00.3s ease;
}



.copyright a:hover{

    color: coral;
}



.footer-1 h5{
    color: #d8d8d8;
}



/* single product */


.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 32%;
    cursor: pointer;
}


.single product .select size{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.single product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.buy-button{
    background: #fb774b;
    opacity: 1;
    transition: 0.1s all;

}

.buy-button:hover{
    color: #fff;
}

h6{
    color: gray;
}


